{
  "openapi": "3.0.3",
  "info": {
    "title": "Bytedesk API",
    "description": "Bytedesk（微语）系统 API 文档，基于 AccessToken 免登与 Bearer Token 鉴权。\n\n注意：以下接口按模块划分。免登接口多为网页重定向场景；REST 接口需在请求头携带 `Authorization: Bearer <token>`。",
    "termsOfService": "https://api.weiyuai.cn/terms.html",
    "contact": {
      "email": "270580156@qq.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "官网",
    "url": "https://api.weiyuai.cn"
  },
  "servers": [
    {
      "url": "https://api.weiyuai.cn/api/v1",
      "description": "API server (REST)"
    },
    {
      "url": "https://api.weiyuai.cn",
      "description": "Web app server (AccessToken 登录)"
    }
  ],
  "tags": [
    {
      "name": "ai",
      "description": "AI 接口"
    },
    {
      "name": "auth",
      "description": "认证与登录"
    },
    {
      "name": "users",
      "description": "用户相关"
    },
    {
      "name": "threads",
      "description": "会话（Thread）相关"
    },
    {
      "name": "messages",
      "description": "消息相关"
    },
    {
      "name": "tickets",
      "description": "工单（Ticket）相关"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/chat/completions": {
      "post": {
        "tags": ["ai"],
        "summary": "Chat Completions - OpenAI 兼容接口",
        "description": "创建 AI 聊天完成，完全兼容 OpenAI Chat Completions API 格式，支持流式和非流式响应。",
        "operationId": "createChatCompletion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "请求过多",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "get": {
        "tags": ["auth"],
        "summary": "使用 AccessToken 登录（管理后台）",
        "description": "使用 AccessToken 免登管理后台，通常返回 302 跳转。",
        "operationId": "loginAdminWithAccessToken",
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "重定向到管理后台"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.weiyuai.cn"
          }
        ]
      }
    },
    "/auth/token/refresh": {
      "post": {
        "tags": ["auth"],
        "summary": "刷新 Bearer Token",
        "description": "使用有效的刷新令牌获取新的访问令牌。",
        "operationId": "refreshToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功刷新令牌",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "401": {
            "description": "无效的刷新令牌",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/register": {
      "post": {
        "tags": ["auth"],
        "summary": "用户注册",
        "description": "通过短信/邮箱验证码完成注册，返回用户信息。",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "注册成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.weiyuai.cn"
          }
        ]
      }
    },
    "/auth/v1/login": {
      "post": {
        "tags": ["auth"],
        "summary": "用户名密码登录",
        "description": "使用用户名与密码登录，返回访问令牌与用户信息。",
        "operationId": "loginWithUsernamePassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "登录成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.weiyuai.cn"
          }
        ]
      }
    },
    "/user/profile": {
      "get": {
        "tags": ["users"],
        "summary": "获取当前用户信息",
        "description": "通过 Bearer Token 获取当前登录用户信息。",
        "operationId": "getCurrentUserProfile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["users"],
        "summary": "查询用户列表",
        "operationId": "listUsers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "用户列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["users"],
        "summary": "创建用户",
        "operationId": "createUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/threads": {
      "get": {
        "tags": ["threads"],
        "summary": "查询会话列表",
        "operationId": "listThreads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "会话列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["threads"],
        "summary": "创建会话",
        "operationId": "createThread",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThreadCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "post": {
        "tags": ["messages"],
        "summary": "发送消息",
        "operationId": "sendMessage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "发送成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/ticket/create": {
      "post": {
        "tags": ["tickets"],
        "summary": "创建工单",
        "operationId": "createTicket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ticket/query/org": {
      "get": {
        "tags": ["tickets"],
        "summary": "查询组织工单",
        "operationId": "queryTicketsByOrg",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgUid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "工单列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TicketResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "用户名"
          },
          "password": {
            "type": "string",
            "description": "密码"
          },
          "mobile": {
            "type": "string",
            "description": "手机号"
          },
          "email": {
            "type": "string",
            "description": "邮箱"
          },
          "code": {
            "type": "string",
            "description": "验证码"
          },
          "accessToken": {
            "type": "string",
            "description": "访问令牌"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "访问令牌"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": ["accessToken", "user"]
      },
      "AuthToken": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "访问令牌"
          },
          "expiresIn": {
            "type": "integer",
            "description": "过期时间（秒）"
          }
        },
        "required": ["accessToken", "expiresIn"]
      },
      "TokenRefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        },
        "required": ["refreshToken"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "用户ID"
          },
          "username": {
            "type": "string",
            "description": "用户名"
          },
          "nickname": {
            "type": "string",
            "description": "昵称"
          },
          "email": {
            "type": "string",
            "description": "邮箱"
          },
          "mobile": {
            "type": "string",
            "description": "手机号"
          },
          "avatar": {
            "type": "string",
            "description": "头像URL"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE", "BANNED"],
            "description": "状态"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间"
          }
        },
        "required": ["id", "username"]
      },
      "UserCreateRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          }
        },
        "required": ["username", "password"]
      },
      "Thread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "会话ID"
          },
          "type": {
            "type": "string",
            "enum": ["PERSONAL", "GROUP", "SUPPORT"],
            "description": "会话类型"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "CLOSED", "ARCHIVED"],
            "description": "会话状态"
          },
          "title": {
            "type": "string",
            "description": "会话标题"
          },
          "description": {
            "type": "string",
            "description": "会话描述"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "type", "status"]
      },
      "ThreadCreateRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["PERSONAL", "GROUP", "SUPPORT"]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": ["type"]
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "消息ID"
          },
          "threadId": {
            "type": "string",
            "description": "会话ID"
          },
          "senderId": {
            "type": "string",
            "description": "发送者ID"
          },
          "type": {
            "type": "string",
            "enum": ["TEXT", "IMAGE", "FILE", "SYSTEM"],
            "description": "消息类型"
          },
          "content": {
            "type": "string",
            "description": "消息内容"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "threadId", "senderId", "type", "content"]
      },
      "MessageSendRequest": {
        "type": "object",
        "properties": {
          "threadId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["TEXT", "IMAGE", "FILE"]
          },
          "content": {
            "type": "string"
          }
        },
        "required": ["threadId", "type", "content"]
      },
      "TicketRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "工单标题"
          },
          "description": {
            "type": "string",
            "description": "工单描述"
          },
          "priority": {
            "type": "string",
            "enum": ["LOW", "MEDIUM", "HIGH", "URGENT"],
            "description": "优先级"
          },
          "category": {
            "type": "string",
            "description": "分类"
          }
        },
        "required": ["title", "description"]
      },
      "TicketResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "工单ID"
          },
          "title": {
            "type": "string",
            "description": "工单标题"
          },
          "description": {
            "type": "string",
            "description": "工单描述"
          },
          "status": {
            "type": "string",
            "enum": ["OPEN", "IN_PROGRESS", "RESOLVED", "CLOSED"],
            "description": "工单状态"
          },
          "priority": {
            "type": "string",
            "enum": ["LOW", "MEDIUM", "HIGH", "URGENT"],
            "description": "优先级"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "title", "status"]
      },
      "ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的模型 ID",
            "example": "bytedesk-ai"
          },
          "messages": {
            "type": "array",
            "description": "对话消息列表",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "temperature": {
            "type": "number",
            "description": "控制输出的随机性，取值范围 0-2",
            "default": 1,
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "description": "核采样参数",
            "default": 1,
            "minimum": 0,
            "maximum": 1
          },
          "max_tokens": {
            "type": "integer",
            "description": "生成的最大 token 数量"
          },
          "stream": {
            "type": "boolean",
            "description": "是否启用流式响应",
            "default": false
          },
          "n": {
            "type": "integer",
            "description": "生成多少个聊天完成选项",
            "default": 1
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 4
              }
            ],
            "description": "停止序列"
          },
          "presence_penalty": {
            "type": "number",
            "description": "存在惩罚，范围 -2.0 到 2.0",
            "default": 0,
            "minimum": -2,
            "maximum": 2
          },
          "frequency_penalty": {
            "type": "number",
            "description": "频率惩罚，范围 -2.0 到 2.0",
            "default": 0,
            "minimum": -2,
            "maximum": 2
          },
          "user": {
            "type": "string",
            "description": "用户唯一标识符"
          }
        },
        "required": ["model", "messages"]
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant"],
            "description": "消息角色"
          },
          "content": {
            "type": "string",
            "description": "消息内容"
          },
          "name": {
            "type": "string",
            "description": "消息发送者的名称"
          }
        },
        "required": ["role", "content"]
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "聊天完成的唯一标识符"
          },
          "object": {
            "type": "string",
            "description": "对象类型",
            "enum": ["chat.completion"]
          },
          "created": {
            "type": "integer",
            "description": "创建时间戳"
          },
          "model": {
            "type": "string",
            "description": "使用的模型"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/ChatCompletionUsage"
          }
        },
        "required": ["id", "object", "created", "model", "choices"]
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "选项的索引"
          },
          "message": {
            "$ref": "#/components/schemas/ChatMessage"
          },
          "finish_reason": {
            "type": "string",
            "enum": ["stop", "length", "content_filter", null],
            "description": "完成原因"
          }
        },
        "required": ["index", "message"]
      },
      "ChatCompletionUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "提示消息使用的 token 数"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "生成完成使用的 token 数"
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 token 数"
          }
        },
        "required": ["prompt_tokens", "completion_tokens", "total_tokens"]
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["error", "message"]
      }
    }
  }
}